<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identificación de Grupos Funcionales</title>
    <link rel="stylesheet" href="../../css/pages/IdentificacionCaracteristicas.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/variables.css">
</head>

<body>
    <!-- Contenedor de partículas -->
    <div class="particles" id="particles-js"></div>

    <header class="text-center py-4">
        <h1>Identificación de Grupos Funcionales</h1>
        <p>Puntuación: <span id="puntuacion">0</span></p>
        <a href="/" class="main-button" id="mainPageButton">Main Page</a>
    </header>

    <main class="container text-center">
        <section class="my-5">
            <div class="content-container">
                <!-- Pregunta actual -->
                <h2 id="pregunta">¿Cuál es el grupo funcional de esta molécula?</h2>

                <!-- Contenedor de la tarjeta de modelos 3D y 2D -->
                <div class="flip-card-container">
                    <div class="flip-card-inner">
                        <!-- Vista 3D -->
                        <div class="flip-card-front">
                            <div id="molecule-viewer" style="width: 300px; height: 300px;"></div>
                        </div>
                        <!-- Vista 2D -->
                        <div class="flip-card-back">
                            <img id="molecule-viewer-2D" src="" alt="Vista 2D de la molécula" />
                        </div>
                    </div>
                </div>

                <!-- Leyenda de colores dinámica -->
                <div id="color-legend" class="color-legend">
                    <h3>Identificación de Átomos</h3>
                    <ul style="color: white;"></ul>
                </div>

                <!-- Botón para alternar entre vistas 2D y 3D -->
                <button id="toggle-view-button" class="toggle-view-btn" onclick="alternarVista()">Cambiar a 2D</button>

                <!-- Contenedor de opciones de respuesta -->
                <div id="opciones" class="options"></div>
                <!-- Mensaje de retroalimentación -->
                <div id="feedback" class="mt-4"></div>

                <!-- Botón para avanzar a la siguiente pregunta -->
                <button id="btnSiguiente" class="next-btn" onclick="siguientePregunta()" disabled>Avanzar a la siguiente
                    pregunta</button>
            </div>
        </section>
    </main>
    <!-- Cargar JSmol -->
    <script src="../../../js/jsmol/JSmol.min.js"></script>
    <script src="../../../js/pages/Indentificacion_Caracteristicas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="../../js/particles.js"></script>
    
</body>

</html>